.header {
   height: 70px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #24292f;
}

.logo {
   font-size: 30px;
   font-weight: 900;
   color: #FFFFFF;
   display: flex;
   align-items: center;
}

.logoImg {
   width: 50px;
   margin-right: 20px; 
   cursor: pointer;
}

.header_logo {
   margin-left: 30px;
}

.header_input {
   margin-right: 30px;
}

@media screen and (max-width: 650px) {

   .header {
      flex-direction: column;
      height: auto;
      padding: 20px;
   }

   .header_logo {
      margin: 0 0 20px 0;
   }

   .header_input {
      margin: 0;
      width: 373px;
      height: 50px;
   }

}

@media screen and (max-width: 420px) {

   .logo {
      font-size: 25px;
   }

   .header_input {
      width: 100% 
   }

}

@media screen and (max-width: 420px) {

   .logo {
      font-size: 20px;
   }

}