.list {
   width: 1000px;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
}

.loader {
   margin: auto;
}

.messageBlock {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 50px;
   margin: auto;
}

.count {
   font-size: 25px;
   width: 100%;
   text-align: center;
   padding: 10px 0;
}

.card {
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   padding: 20px 10px;
   border-bottom: 1px solid #e4e8ec;
}

.cardTitle {
   color: #0969da;
   font-size: 30px;
   cursor: pointer;
   width: 500px;
}
.cardTitle:hover {
   text-decoration: underline;
}

.cardDescription {
   color: #b0b0b0;
}

.cardStars {
   width: 80px;
}

.cardLink {
   color: black;
}
.cardLink:hover {
   color: #0969da;
}

.paginationConteiner {
   display: flex;
   justify-content: center;
   margin-top: 40px;
}

.pagination {
   width: fit-content;
}

@media screen and (max-width: 1000px) {
   
   .list {
      width: 100%;
   }

   .cardTitle {
      width: 250px;
      font-size: 25px;
   }

   .cardDescription {
      font-size: 12px;
   }

}

@media screen and (max-width: 600px) {

   .card {
      flex-direction: column;
   }

   .cardTitle {
      width: auto;
   }

   .cardDescription {
      width: auto;
   }

   .count {
      font-size: 15px;
      background-color: #e4e8ec;
   }

   .messageBlock {
      font-size: 30px;
   }

}